language: csharp
mono: none
dotnet: 2.1.4
sudo: false
addons:
  apt:
    packages:
    - sshpass
env:
    global:
        - DOTNET_CLI_TELEMETRY_OPTOUT: 1
        - ASPNETCORE_ENVIRONMENT: Release
before_install:
    - openssl aes-256-cbc -K $encrypted_3d14ebc3ec3e_key -iv $encrypted_3d14ebc3ec3e_iv -in Google.Apis.Auth.OAuth2.Responses.TokenResponse-user.enc -out ./Google.Apis.Auth.OAuth2.Responses.TokenResponse-user -d
    - mkdir -p ~/.credentials/sheets.googleapis.com-dotnet-quickstart.json/
    - cp Google.Apis.Auth.OAuth2.Responses.TokenResponse-user ~/.credentials/sheets.googleapis.com-dotnet-quickstart.json/
    - openssl aes-256-cbc -K $encrypted_79def18d12fe_key -iv $encrypted_79def18d12fe_iv -in ./ScheduleBot/ScheduleBot.AspHost/client_secret.json.enc -out ./ScheduleBot/ScheduleBot.AspHost/client_secret.json -d
    - openssl aes-256-cbc -K $encrypted_79def18d12fe_key -iv $encrypted_79def18d12fe_iv -in ./ScheduleBot/ScheduleBot.AspHost/appsettings.Testing.json.enc -out ./ScheduleBot/ScheduleBot.AspHost/appsettings.Testing.json -d
script:
    - cd ./ScheduleBot
    - dotnet build ScheduleBot.sln -c Release
    - dotnet test -c Release --no-build Tests/ScheduleServices.Core.Tests/ScheduleServices.Core.Tests.csproj
    - dotnet test -c Release --no-build Tests/ScheduleBot.AspHost.Tests/ScheduleBot.AspHost.Tests.csproj
    - dotnet test -c Release --no-build Tests/Integration.Tests/Integration.Tests.csproj
    
deploy:
    provider: script
    script:
        - sshpass -p $TEST_PASSWORD ssh -o StrictHostKeyChecking=no $TEST_USER@$TEST_HOST './updateServer.sh'
    on:
        branch: dev
        type: push