language: csharp

dotnet: 2.1.4
sudo: false

env:
    global:
        - DOTNET_CLI_TELEMETRY_OPTOUT: 1
        - ASPNETCORE_ENVIRONMENT: Release
before_install:
    # - openssl aes-256-cbc -K $encrypted_6e2d6346db49_key -iv $encrypted_6e2d6346db49_iv -in Google.Apis.Auth.OAuth2.Responses.TokenResponse-user.enc -out ./Google.Apis.Auth.OAuth2.Responses.TokenResponse-user -d
    # - cp Google.Apis.Auth.OAuth2.Responses.TokenResponse-user ~/.credentials/sheets.googleapis.com-dotnet-quickstart.json/
    - openssl aes-256-cbc -K $encrypted_79def18d12fe_key -iv $encrypted_79def18d12fe_iv -in ./ScheduleBot/ScheduleBot.AspHost/client_secret.json.enc -out ./ScheduleBot/ScheduleBot.AspHost/client_secret.json -d
script:
    - dotnet build ScheduleBot.sln -c Release